{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <p>{% trans 'You are about to use your' %} {{ account.get_provider.name }} {% trans 'account to login to' %}
        {{ site.name }}. {% trans 'As a final step, please complete the following form' %}:</p>

    <form class="signup my-5 p-4 bg-light" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        <div class="form-row">
            {% bootstrap_field form.role form_group_class='form-group col-lg-6' %}
        </div>
        <div class="form-row">
            {% bootstrap_field form.username form_group_class='form-group col-lg-6' %}
            {% bootstrap_field form.email form_group_class='form-group col-lg-6' %}
            {% bootstrap_field form.first_name form_group_class='form-group col-lg-6' %}
            {% bootstrap_field form.last_name form_group_class='form-group col-lg-6' %}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
    </form>
{% endblock %}