{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h1>{% trans 'Reset password' %}</h1>
{% if user.is_authenticated %}
  <p>{% trans 'You are already logged in.' %}</p>
{% endif %}

<p>{% trans 'Forgotten your password?' %}<br />
{% trans 'Enter your e-mail address below, and we\'ll send you an e-mail allowing you to reset it.' %}</p>
<p>{% trans 'Please contact us if you have any trouble resetting your password.' %}</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-5 p-4 bg-light">
    {% csrf_token %}
    <div class="form-row">
      {% bootstrap_form form form_group_class='form-group col-lg-6' %}
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans 'Reset Password' %}" />
</form>
{% endblock %}
