{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Your profile settings' %}</h1>
    {% include 'users/userprofilenav.html' %}
    <div class="px-2 pt-5">
        <p>{% trans 'Set your password here in order to enable log in with your username and password.' %}</p><br>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            <div class="form-row">
                {% bootstrap_field form.password1 form_group_class='form-group col-lg-6' %}
                {% bootstrap_field form.password2 form_group_class='form-group col-lg-6' %}
            </div>
            <button type="submit" name="action" class="btn btn-primary">{% trans 'Set Password' %}</button>
        </form>
    </div>
{% endblock %}
