{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
    <a href="{% url 'trainer_list' %}">Return to trainer overview</a>
    <h1>{{ trainername }}{% trans '\'s Profile' %}</h1>
    <p><strong>{% trans 'Sport' %}: </strong>{{ trainer.sport }}</p>
    <p><strong>{% trans 'Motto' %}: </strong>{{ trainer.motto }}</p>
    <p><strong>{% trans 'Location' %}: </strong></p>
    {% for location in locations %}
        <p>{{ location.street }} {{ location.number }}, {{ location.zipcode }} {{ location.city }} {{ location.country }}</p>
    {% endfor %}
    <p><strong>{% trans 'About' %}: </strong></p>
    <p>{{ trainer.about }}</p>
{% endblock %}
