{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'trainer_list' %}">{% trans 'Trainer overview' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
      </ol>
    </nav>

    {% if not trainer %}
        <h1>{% trans 'No trainer profile available' %}</h1>
        {% if show_create %}
            <p>{% trans 'Seems like you don\'t have a public trainer profile yet.' %}</p>
            <p>{% trans 'Let\'s create one!' %}</p>
            <a class="btn btn-outline-primary"
               href="{% url 'trainer_profile_edit' %}">{% trans 'Create trainer profile' %}</a>
        {% else %}
            <p>{% trans 'How about checking out the' %} <a href="{% url 'trainer_list' %} ">{% trans 'Trainer list' %}</a> {% trans 'instead' %}?
            </p>
        {% endif %}

    {% elif is_visible or show_edit %}

        {% if not is_visible %}
          <div class="alert alert-warning">
            {% trans 'Your profile is not visible. Edit your profile and check the visbility settings to publish it.' %}
          </div>
        {% endif %}

        <div class="row align-items-center">
          {% if trainer.user.avatar %}
            <div class="col-md-3 pr-md-4">
                <div class="image-square-crop d-inline-block">
                  <img class="img-fluid border border-secondary"  src="{{ trainer.user.avatar.url }}" alt="{% trans 'Profile picture' %}" />
                </div>
            </div>
          {% endif %}
          <div class="col-md-9">
            <span class="display-4 text-muted">"{{ trainer.motto }}"</span>
          </div>
        </div>

        <h1 class="mt-3">{{ page_title }}</h1>
        <p class="badge badge-secondary">
          {% trans 'Liked by' %} {{ favorite_count|default:0 }} {% trans 'registered user' %}{{ favorite_count|pluralize:'s' }}
        </p>
        {% if user_can_favorite %}
          <p>
            <a class="btn btn-{% if marked_favorite %}outline-{% endif %}info" href="{% url 'mark_favorite' trainer.id %}?next={{ request.path|urlencode }}">
              {% if marked_favorite %}
                {% trans 'Unmark this trainer as favorite' %}
              {% else %}
                {% trans 'Mark this trainer as favorite' %}
              {% endif %}
            </a>
          </p>
        {% endif %}

        {% if show_edit %}
          <div>
            <a class="btn btn-outline-primary mt-3" href="{% url 'trainer_profile_edit' %} ">{% trans 'Edit your trainer profile' %}</a>
          </div>
        {% endif %}

        <article class="row">
          <section class="col-lg-8 py-4 pr-lg-4 word-wrap-anywhere">
            {{ trainer.about|linebreaks }}
            <p class="mb-0"><strong>{% trans 'Sports' %}:</strong>
              <span class="lead">
                <a class="badge badge-primary" href="{% url 'trainer_list' %}?sport={{ trainer.sport }}">
                  {{ trainer.get_sport_display }}
                </a>
              </span>
            </p>
          </section>
          <aside class="col-lg-4 p-4 bg-light">
            <strong>{% trans 'Classes are offered in' %}</strong>
            {% if locations %}
              <ul class="list-unstyled">
              {% for location in locations %}
                  <li class="my-2">{{ location.name}}<br />{{location.street }} {{ location.number }}<br />{{ location.zipcode }} {{ location.city }} ({{ location.country }})</li>
              {% endfor %}
            {% else %}
              <p>{% trans 'This trainer doesn\'t offer classes on any location for now.' %}</p>
            {% endif %}
            </ul>
          </aside>
        </article>

        <article class="row">
          <h2 class="col-lg-12">{% trans 'Uploads of' %} {{ trainername }}</h2>
          <section class="py-4 my-4 col-lg-12">
            <h4 class="mb-4">{% trans 'Videos' %}</h4>
            {% if uploads.video|length < 1 %}
              <p>{% trans 'This trainer has no videos.'%}</p>
            {% else %}
              <div class="row">
              {% for video in uploads.video %}
              <div class="col-lg-3">
                <div class="embed-responsive embed-responsive-4by3">
                  <video class="embed-responsive-item" controls>
                    <source src="{{ video.0 }}" type="{{ video.1 }}">
                    {% trans 'Your browser does not support the video tag.' %}'
                  </video> 
                </div>
              </div>
              {% endfor %}
              </div>
            {% endif %}
          </section>

          <section class="col-lg-8 py-4 pr-lg-4">
            <h4 class="mb-4">{% trans 'Images' %}</h4>
            {% if uploads.image|length < 1 %}
              <p>{% trans 'This trainer has no images.'%}</p>
            {% else %}
              <div class="row">
              {% for image in uploads.image %}
              <div class="col-lg-3">
                <figure class="figure">
                  <img src="{{ image.0 }}" class="figure-img img-fluid" alt="{{ image.2 }}">
                  <figcaption class="figure-caption">{{ image.2 }}</figcaption>
                </figure>
              </div>
              {% endfor %}
              </div>
            {% endif %}
          </section>

          <aside class="col-lg-4 p-4 bg-light">
            <h4 class="mb-4">{% trans 'PDFs' %}</h4>
            {% if not uploads.pdf %}
              <p>{% trans 'This trainer has no PDFs.' %}</p>
            {% else %}
              <ul class="list-unstyled">
              {% for pdf in uploads.pdf %}
                  <li class="my-2 row">
                    <div class="col-lg-8">
                      {{ pdf.2 }}
                    </div>
                    <div class="col-lg-4">
                      <a class="btn btn-outline-primary btn-sm" href="{{ pdf.0 }}" >Download</a>
                    </div>
                  </li>
              {% endfor %}
            {% endif %}
            </ul>
          </aside>
        </article>
  
        
    
    {% else %}
      <h1>{% trans 'This trainer profile is not public' %}</h1>
      <p>{% trans 'The trainer you were looking for has no public profile.' %}</p>
      <p>{% trans 'How about checking out the' %} <a href="{% url 'trainer_list' %} ">{% trans 'Trainer list' %}</a> {% trans 'instead' %}?
    {% endif %}
{% endblock %}
