{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Trainer List' %}</h1>
    <form method="get">
        {% bootstrap_form filter %}
        <input class="btn btn-primary" type="submit" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Sport' %}</th>
            <th>{% trans 'Address' %}</th>
            <th>{% trans 'Motto' %}</th>
            <th>{% trans 'Profile' %}</th>
        </tr>
        </thead>
        {% for trainer in trainers %}
            <tr>
                <td>{{ trainer.user.first_name }} {{ trainer.user.last_name }}</td>
                <td>{{ trainer.get_sport_display }}</td>
                {% lookup locations_by_trainerid trainer.id as locs %}
                <td>
                    {% for loc in locs %}
                        <p>{{ loc.city }}, {{ loc.country }}</p>
                    {% endfor %}
                </td>
                <td>{{ trainer.motto }}</td>
                <td><a href="{% url 'trainer_profile' trainer.id %}">{% trans 'View Profile' %}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}