{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Edit your trainer profile' %}</h1>
  {% if not user.is_authenticated %}
    <p>{% trans 'You need to log in before you can edit your trainer profile.' %}</p>
    <a class="btn btn-outline-primary" href="{% url 'account_login' %}?next={{ request.path|urlencode }}">{% trans 'Log in' %}</a>
  {% else %}
  {% include 'trainers/trainerprofile_nav.html' %}
  <div class="px-2 pt-5">
    {% if not is_visible %}
      <div class="alert alert-warning">
        {% trans 'Your profile is not visible. Check the visbility settings at the bottom and save to publish it.' %}
      </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-lg-6">
          {% bootstrap_field form.sport %}
        </div>
        <div class="col-lg-6">
          {% bootstrap_field form.motto %}
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-12">
          {% bootstrap_field form.about %}
        </div>
        <div class="col-lg-12 border rounded my-4 px-3 pt-2">
          {% bootstrap_field form.visible %}
        </div>
      </div>
        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
        <a class="btn btn-secondary" href="{% url 'trainer_profile' %}">{% trans 'Cancel' %}</a>
    </form>
  </div>
  {% endif %}
{% endblock %}