body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  transition: 0.3s;
  color: #FF6100;
}

a:hover {
  color: #e45000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body>.container-md>h1 {
  margin-bottom: 1.5rem;
}

.bg-light {
  background-color: #e0ecf5 !important;
}

.btn-primary {
  background-color: #FF6100;
  border-color: #FF6100;
}

.bg-primary {
  background-color: #FF6100 !important;
}
.border-primary {
  border-color: #FF6100 !important;
}

/* ------ HEADER ------ */
#dropdownMenuButton {
  color: #FF6100

}


/* ------ FOOTER ------ */

body>footer, 
body>footer ul a {
  color: #969696;
}

body>footer h4 {
  color: #fff;
}

body>footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body>footer ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

body>footer ul a:hover {
  text-decoration: none;
  color: #FF6100;
}

/* ------ START PAGE ------ */
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    padding-top: 60px;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}
#about{
  margin-top: 3%;
}
.about .content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #009970;
}

.about .content p:last-child {
  margin-bottom: 0;
}


