:root {
  --primary-color: #FF6100;
  --primary-color-dark: #e45000;
  --light-color: #D4DDE2;
}

a {
  transition: 0.3s;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body>.container-md>h1 {
  margin-bottom: 1.5rem;
}

/* BUTTONS */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* BACKGROUNDS */
.badge-light,
.bg-light {
  background-color: var(--light-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}

/* ------ HEADER ------ */
#dropdownMenuButton {
  color: var(--primary-color);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-color);
}

header .image-square-crop {
  height: 50px;
  width: 50px;
  overflow: hidden;
}


/* ------ FOOTER ------ */
body>footer {
  font-size: 0.8rem;
}

body>footer, 
body>footer ul a {
  color: #969696;
}

body>footer h4 {
  color: #fff;
}

body>footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body>footer ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

body>footer ul a:hover {
  text-decoration: none;
  color: #FF6100;
}

/* ------ CONTENT ------ */
body>.container-md {
  min-height: 80vh;
}

/* ----- TRAINER LIST ------*/
.table-hover tbody tr:hover {
  background-color: var(--light-color);
}

table .image-square-crop {
  height: 10vw;
  width: 10vw;
  overflow: hidden;
}

/* ------ START PAGE ------ */
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #009970;
  border: 2px solid #009970;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    padding-top: 60px;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}
#about{
  margin-top: 3%;
}
.about .content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about .content h3 {
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #009970;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.features {
	padding: 25px 0 25px 0;
}

.features-inner {
	width: 100%;
}

.features .features-list {
	padding: 20px 0 0 0;
	text-align: center;
}

.features .features-list h1 {
	font-size: 26px;
	font-weight: 400;
	line-height: 1;
	color: #222222;
	margin: 0 0 30px 0;
}

.features .features-list ul {
	list-style-type: circle;
	padding-left: 20px;
	text-align: center;
}


.features .features-list ul li {
	display: block;
	margin: 0 0 15px 0;
	font-family: 'Josefin Sans';
	font-size: 16px;
	line-height: 1.2;
	color: #A1A1A1;
}

.app-features {
	background: #FFFFFF;
	padding: 100px 0 100px 0;
}

.app-features h2 {
	font-size: 37px;
	font-weight: 900;
	margin: 0 0 10px 0;
	text-transform:uppercase;
}

.app-features p {
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.4;
	margin: 10px 0 50px 0;
}


.app-features img {
	 margin: 0 auto;
}

.app-features .features-left, .app-features .features-right {
	padding: 50px 0 0 0;
}

.app-features .feature-single {
	margin-left: 0;
	margin-bottom: 50px;
}


.app-features .feature-single h2 {
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
	text-transform:uppercase;
}

.app-features .feature-single p {
	font-size: 17px;
	color: #A1A1A1;
	line-height: 1.4;
	letter-spacing: 1px;
	margin: 10px 0 0 0;
}
.split-features {
	background: #F9F9F9;
	padding: 50px 0 50px 0;
	overflow: hidden;
}

.signup .split-features {
	background: #F2F2F2;
}

.split-image img {
	margin: 0 auto;
}

.split-content {
	padding: 20px;
	text-align: center;
}

.split-content h1 {
	font-size: 37px;
	font-weight: 900;
	letter-spacing: -1px;
	margin: 0 0 20px 0;
}

.split-content p {
	font-size: 16px;
	line-height: 1.4;
	color: #A1A1A1;
	letter-spacing: 0;
}

.split-content ul {
	list-style-type: disc;
	display: inline-block;
	margin: 30px 0 0 0;
}

.split-content ul li {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	margin-bottom: 15px;
	margin-left: 15px;
	color: #A1A1A1;
}

.split-features2 {
	background: #FFFFFF;
	padding: 50px !important;
	overflow: hidden;

}
