:root {
  --primary-color: #FF6100;
  --primary-color-dark: #e45000;
  --light-color: #D4DDE2;
}


/* FONTS */
a {
  transition: 0.3s;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
  text-decoration: none;
}


body>.container-md>h1 {
  margin-bottom: 1.5rem;
}
.display-4 {
  font-size: 2rem;
}

/* BUTTONS */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* BACKGROUNDS */
.breadcrumb,
.badge-light,
.bg-light {
  background-color: var(--light-color) !important;
}

.badge-primary,
.bg-primary {
  background-color: var(--primary-color) !important;
}

/* BORDERS */
.border-primary {
  border-color: var(--primary-color) !important;
}

/* ------ HEADER ------ */
#dropdownMenuButton {
  color: var(--primary-color);
}
.dropdown-item.active, 
.dropdown-item:active {
  background-color: var(--primary-color);
}

header .image-square-crop {
  height: 50px;
  width: 50px;
  overflow: hidden;
}


/* ------ FOOTER ------ */
body>footer {
  font-size: 0.8rem;
}

body>footer, 
body>footer ul a {
  color: #969696;
}

body>footer h4 {
  color: #fff;
}

body>footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body>footer ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

body>footer ul a:hover {
  text-decoration: none;
  color: #FF6100;
}

/* ------ CONTENT ------ */
body>.container-md {
  min-height: 80vh;
}

/* ----- TRAINER LIST ------*/
.table-hover tbody tr:hover {
  background-color: var(--light-color);
}

.image-square-crop {
  overflow: hidden;
}

.image-square-crop img {
  width: 100%;
}

table .image-square-crop {
  height: 10vw;
  width: 10vw;
}

.col-md-3 .image-square-crop {
  height: 15vw;
  width: 15vw;
  margin: auto;
}

@media all and (max-width: 768px) {
  .col-md-3 .image-square-crop {
    height: calc(100vw - 30px);
    width: calc(100vw - 30px);
  }
}

/* ------ START PAGE ------ */
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}

#hero .container {
  padding-top: 80px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn-get-started {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .container {
    padding-top: 60px;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
}





