{% load bootstrap4 %}
{% load i18n %}
{% if user.is_authenticated %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ user.username }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'user_profile' %}">{% trans 'Your settings' %}</a>
    {% if user.role == 'trainer' %}
      <a class="dropdown-item" href="{% url 'trainer_profile' %}">{% trans 'Your trainer profile' %}</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
  </div>
</div>
{% else %}
<a class="btn btn-secondary" href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a>
{% endif %}
