{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% if user.is_authenticated %}
<div class="dropdown">
  <span class="dropdown-toggle btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    {% if user.avatar %}
      <div class="image-square-crop d-inline-block">
        <img class="img-fluid border border-secondary"  src="{{ user.avatar.url }}" alt="{% trans 'Profile picture' %}" />
      </div>
    {% else %}
      <img height="50" width="50" class="border border-secondary"  src="{% static 'img/dummy_profile.png' %}" alt="{% trans 'Dummy profile picture' %}" />
    {% endif %}
  </span>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item">{% trans 'Signed in as ' %}<strong>{{ user.username }}</strong></p>
    <div class="dropdown-divider border-primary"></div>
    <a class="dropdown-item {% if request.path == '/accounts/' or request.path == '/accounts/password/change/' or request.path == '/accounts/password/set/' %}active{% endif %}" href="{% url 'user_profile' %}">
      {% trans 'Your settings' %}
    </a>

    {% if user.role == 'trainer' %}
      <a class="dropdown-item {% if request.path == '/trainer/' or request.path == '/trainer/edit' or request.path == '/trainer/locations' or request.path == '/trainer/upload' %}active{% endif %}" href="{% url 'trainer_profile'%}">
        {% trans 'Your trainer profile' %}
      </a>
    {% endif %}

    {% if user.role == 'user' %}
      <a class="dropdown-item {% if request.path == '/accounts/favorites' %}active{% endif %}" href="{% url 'user_favorites'%}">
        {% trans 'Your favorite trainers' %}
      </a>
    {% endif %}

    <a class="dropdown-item" href="{% url 'account_logout' %}">
      {% trans 'Logout' %}
    </a>
  </div>
</div>
{% else %}
<a class="btn btn-outline-primary mr-1" href="{% url 'account_login' %}">Login</a> or <a class="ml-1" href="{% url 'account_signup' %}">Register</a>
{% endif %}
