{% load i18n %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/user/' %}active{% endif %}"
           href="{% url 'user_profile' %}">{% trans 'General settings' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/accounts/password/change/' or request.path == '/accounts/password/set/' %}active{% endif %}"
           href="{% url 'account_change_password' %}">{% trans 'Password' %}</a>
    </li>
</ul>
